:root {
  --max-width: 1440px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --color-dark100: #1f2041;
  --color-dark75: #1f2041bf;
  --color-dark50: #1f204180;
  --color-dark25: #1f204140;
  --color-dark5: #1f20410d;
  --color-purple: #bc9cff;
  --color-green: #bc9cff;

  --background: #f4f4f6;
  --background-primary-gradient: linear-gradient(
    90deg,
    rgba(188, 156, 240, 1) 0%,
    rgba(139, 164, 240, 1) 100%
  );
  --background-secondary-gradient: linear-gradient(
    90deg,
    rgba(111, 207, 151, 1) 0%,
    rgba(102, 210, 234, 1) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
